---
layout: page
title: "About"
description: "Try to light up the dark"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>至人无己，神人武功，圣人无名。——《荀子 劝学》<br>
    倚楼听风雨，淡看江湖路。 ——《风云》 </p></blockquote>

    <p>Hello world！</p>
    <p>我是<strong>russell</strong>，程序员、攻城狮预备役。于<a href="http://www.whu.edu.cn/">武汉大学</a>学习图像处理中的黑魔法。</p>

    <p>大学之道，在明明德，在亲民，在止于至善。</p>
    <p>喜清净，避熙攘，求至善。弃盗版，入开源，窥宇宙。独西行，寻人师，路漫漫。</p>
    <p>雾凇沆砀，天与云与山与水，上下一白。湖上影子，惟长堤一痕、湖心亭一点、与余舟一芥、舟中人两三粒而已。</p>


    <h5>《道德经》</h5>
    <p>上善若水。水善利万物而不争，处众人之所恶，故几於道。居善地，心善渊，与善仁，言善信，正善治，事善能，动善时。夫唯不争，故无尤。</p>

    <p>知人者智，自知者明。胜人者有力，自胜者强。知足者富。强行者有志。不失其所者久。死而不亡者，寿。</p>
    <p>大道泛兮，其可左右。万物恃之以生而不辞，功成而不名有。衣养万物而不为主，常无欲可名於小。万物归焉，而不为主，可名为大。以其终不自为大，故能成其大。</p>

    <p>昔之得一者。天得一以清。地得一以宁。神得一以灵。谷得一以盈。万物得一以生。侯王得一以为天下贞。其致之。天无以清将恐裂。地无以宁将恐废。神无以灵将恐歇。谷无以盈将恐竭。万物无以生将恐灭。侯王无以贞将恐蹶。故贵以贱为本，高以下为基。是以侯王自称孤、寡、不谷。此非以贱为本邪？非乎。至誉无誉。不欲琭琭如玉，珞珞如石。</p>
    <p>上士闻道勤而行之。中士闻道若存若亡。下士闻道大笑之。不笑不足以为道。故建言有之。明道若昧。进道若退。夷道若纇。上德若谷。大白若辱。广德若不足。建德若偷。质真若渝。大方无隅。大器晚成。大音希声。大象无形。道隐无名。夫唯道善贷且成。</p>
    <p>道生一。一生二。二生三。三生万物。万物负阴而抱阳，冲气以为和。人之所恶，唯孤、寡不谷，而王公以为称，故物或损之而益，或益之而损。人之所教，我亦教之，强梁者，不得其死。吾将以为教父。</p>
    <p>道生一。一生二。二生三。三生万物。万物负阴而抱阳，冲气以为和。人之所恶，唯孤、寡不f谷，而王公以为称，故物或损之而益，或益之而损。人之所教，我亦教之，强梁者，不得其死。吾将以为教父。</p>
<!--     <h5>Resumes</h5> -->
<!--     <ul> -->
<!--     <li><a href="/attach/">TBD</a></li> -->
<!--     </ul> -->

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Let your arm enfold us, through the dark of night <br>
    Will you angel hold us, till we see the light.</p></blockquote>

    <h5>What's up</h5>
    <p>My name is <strong>russell</strong>，you can call me <strong>rus</strong>. I studied dark magic of Image Processing in <a href="http://www.whu.edu.cn">Wuhan University</a></p>

    <p>Soon to be an engineer, I'm learning to use several powerful tools, such as GNU Emacs, Vim, LaTeX, Lua, C/C++, Matlab and Python. Hacking by oneself is essential, but hacking after masters is also rewarding, here are my personal masterlist:</p>
<ul>
<li>Emacs: <a href="https://github.com/purcell">Steve Purcell</a>, <a href="https://github.com/bbatsov">Bozhidar Batsov</a>, <a href="https://github.com/sachac">Sachua Chua</a>, <a href="https://github.com/redguardtoo"><strong>Bing Chen</strong></a> and <a href="http://ergoemacs.org/emacs/emacs.html">Xah Lee</a></li>
<li>Vim: <a href="https://github.com/bling">Bailey Ling</a>, <a href="http://vimawesome.com/">vimawesome</a></li>
<li>LaTeX: <a href="https://en.wikibooks.org/wiki/LaTeX">wikibooks</a>, <a href="https://www.sharelatex.com/learn">sharelatex</a></li>
<li>Linux basics: <a href="http://linux.vbird.org/">birdman</a></li>
</ul>


    <h5>Who is Russell?</h5>

    <ul>
      <li>not just mental illness about using Emacs and vim</li>
      <li>looking for truth and knowledge within the coming decade</li>
      <li>focus on big ideas of problem discovery and solving</li>
      <li>try to chase and learn from masters on humanity, perseverance and freedom</li>
      <li>amazed at using computer in an elegant and efficient way</li>
      <li>being kind (but limited with premises) to people around</li>
      <li>keep discoverying personal drawbacks and improving myself</li>
      <li>try to avoid dependence of computer, pls leave your filco</li>
    </ul>

    <h5>Skills</h5>

    <ul>
      <li>[ ] Emacs and Vim (google Purcell, redguardtoo, and vimawesome)</li>
      <li>[x] Git version control for personal docs (see jekyll-now repo)</li>
      <li>[x] LaTeX basics (actually we are marching forward)</li>
      <li>[x] Linux usage, server configuration (from birdman)</li>
      <li>[ ] Lua and C/C++ (from lua-user.org)</li>
      <li>[ ] Torch (currently only CNN model, will concentrate on C library in the future)</li>
      <li>[x] CN calligraphy (from Mr. G. Chen(?-2014))</li>
      <li>[x] Speed cube (from doreamon society, avg cuber)</li>
      <li>[x] russellf at typeracer.com (official BP: 80wppm, unofficial 83wpm)</li>
      <li>[x] Slide design and innovation</li>
      <li>[ ] Go (Google has AlphaGo and FAIR has Darkforest, all tree searching based) </li>
    </ul>

    <h5>Interests</h5>

    <ul>
      <li>Machine Learning, Computer Vision and Image Processing</li>
      <li>Simple yet elegant Hacker skills</li>
      <li>Great designed things (apps, websites, repos)</li>
    </ul>

    <h5>Why blogging?</h5>

    <ul>
      <li>Fearness arises from arrogance, arrogance arises from shallowness</li>
      <li>Rediscovery myself on the road to the common destination we all share</li>
      <li>Keep seeking and thinking about society and orientation</li>
      <li>Almost few people know this site, but what you see is what you surprised.</li>
    </ul>


    <h5>Talks</h5>

    <ul>
    <li>Get your CVPS in the right way. 2015</li>
    </ul>

    <h5>Resumes</h5>
    <ul>
    <li>Comming soon.</li>
    </ul>
    <!-- <ul> -->
    <!-- <li><a href="/attach/"</a></li> -->
    <!-- </ul> -->

    <h5>Contact me</h5>

    <p><a href="mailto:yangwanggauss@gmail.com">yangwanggauss at gmail</a></p>


</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
